*{
    padding: 0;
    margin: 0;
  }

.flex{
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.logo{
    width: 70px; 
}
.logo img{
    width: 100%;
}

.between{
    justify-content: space-between;
    text-align: right;
}

header{
    background: blue;
    
  }


  #searchbar{
    padding:5px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    margin-right: 10px;
  }
  .image{
   width: 200px ; 
  }

.image img{
    width: 100%;
}
.center{
    text-align: center;
}
.titre{
    color:black;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;

}

.border{
    border-top: solid 15px;
    color:black;

}
.border1{
    border-bottom: solid 15px;
}
.text{
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-top: 20px;
}
.titre1{
    color:black;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    margin-top: 50px;
}
.background{
    background-color: beige;
}
.vidéo{
    width: 400px;
    padding-left: 10px;
}
.rea{
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
    color:black;
    padding-top: 50px;
    padding-bottom: 50px;

}
.text-black{
    color: black;
    text-decoration: underline;
    font-family: 'Dancing Script', cursive;
    padding-top: 2s0px;
  }
  .zoom:hover {
    transform: scale(1.05);
  }
  .zoom{
    transition: transform 0.5s linear;
  }
  .droite{
text-align: right;
  }
  .gauche{
    text-align: left;
  }
  .centre{
    text-align: center;
  }
